@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-violet: hsl(257, 40%, 49%);
  --primary-soft-magenta: hsl(300, 69%, 71%);
  --font-family-poppins: "Poppins";
  --font-family-openSans: "Open Sans";
  --font-weight-400: 400;
  --font-weight-600: 600;
}

body {
  min-height: 100vh;
  background-color: var(--primary-violet);
  color: #fff;
  font-family: var(--font-family-openSans);
  background-image: url(../img/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

header {
  padding-top: 39px;
}

header img {
  width: 114px;
  margin-bottom: 39px;
}

.container {
  max-width: 315px;
  height: inherit;
  margin-inline: auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container > img {
  width: 315px;
  margin-bottom: 68px;
}

h1 {
  font-size: 24px;
  margin-bottom: 29px;
  font-family: var(--font-family-poppins);
  font-weight: var(--font-weight-600);
}

h1,
p {
  text-align: center;
}

p {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 25px;
  padding: 0 15px;
}

.btn-holder {
  display: flex;
  justify-content: center;
}

button {
  border: none;
  background-color: #fff;
  color: var(--primary-violet);
  font-size: 14px;
  width: 200px;
  height: 40px;
  border-radius: 50px;
  margin-bottom: 100px;
  font-weight: var(--font-weight-600);
  letter-spacing: 1px;
  box-shadow: 0 7px 10px hsla(0, 0%, 0%, .4);
  transition: background-color 150ms ease-in-out;
}

button:hover {
  background-color: var(--primary-soft-magenta);
  color: #fff;
  cursor: pointer;
}

footer {
  display: flex;
  gap: 30px;
  justify-content: center;
}

i {
  font-size: 30px;
  transition: all 150ms ease-in-out;
}

i:hover {
  color: var(--primary-soft-magenta);
  cursor: pointer;
}

@media only screen and (min-width: 376px) {
  body {
    background-size: contain;
  }
}

@media only screen and (min-width: 880px) {
  body {
      background-image: url(../img/bg-desktop.svg);
      background-size: cover;
    }
}

@media only screen and (min-width: 1060px) {
  header img {
    width: 220px;
  }

  .container {
    max-width: 1290px;
  }

  .flex-container {
    flex-direction: row;
  }

  .flex-container img {
    width: 709px;
    margin-right: 80px;
  }

 h1 {
  font-size: 40px;
 }
 
 p {
  font-size: 1rem;
  padding-right: 0;
 }

 h1,
 p {
    text-align: left;
    padding-left: 0;
  }

  .btn-holder {
    justify-content: flex-start;
  }

  footer {
    justify-content: flex-end;
  }
}